- if controller_name != 'sessions'
  .devise-menu
    = link_to "Log in", new_session_path(resource_name), class: 'btn'
    %br/
    = link_to "top", root_path, class: 'btn', id: 'back-btn'
- if devise_mapping.registerable? && controller_name != 'registrations'
  .devise-menu
    = link_to "Sign up", new_registration_path(resource_name), class: 'btn'
    %br/
    = link_to "top", root_path, class: 'btn', id: 'back-btn'