.main-contents__title
    .main-contents__title__book
      sample
    .main-contents__title__chara
      キャラクター
  .main-content
    .character
      .caption
        .caption__image
          画像
        .caption__intro
          .caption__intro__name
            test man
          .caption__intro__age
            年齢：20
          .caption__intro__sex
            性別：男
          .caption__intro__speaces
            種族：人間
          .caption__intro__belong
            所属：日本
      .Explanation
        .Explanation__text-title
          人物
        .Explanation__text
          テストのために生まれた存在