.left-contents
  .left-header
    .left-header__adress
      top
  .menus
    .menu
      .books
        - @books.each do |book|
          %ul.book
            %li
              %p.book__title
                = link_to book_path(book.id) do
                  = book.title
                .book__icon{data: {book: {id: book.id}}}
                  = fa_icon "plus-square"
                %ul.book__character
                  %li.book__character--name
                    test man
                  %li.book__character--name
                    sample man
                  %li.book__character--name
                    debug  man
        .space