#backframe
  .left-contents
    .left-header
      .left-header__adress
        top
    .menus
      .menu
        .books
          - @books.each do |book|
            %ul.book
              %li
                %p.book__title
                  = book.title
                %ul.book__character
                  %li.book__characters--name
                    test man
                  %li.book__characters--name
                    sample man
                  %li.book__characters--name
                    debug  man