.wrapper
  #backframe
    = render 'shared/sidebar'
    .main
      = render 'shared/header'
      .main-contents
        .main-content
          .introduce
            %p 小説に出てくる、キャラクター達を本ごとにまとめて
            %p 投稿・閲覧できるサイトです。