.main-contents {
  height: calc(100vh - 80px);
  &__title {
    margin: 10px;
    &__book {
      margin: 15px 0;
      height: 50px;
      background-color: cadetblue;
    }
    &__chara {
      background-color: cadetblue;
    }
  }
  .main-content {
    .character {
      margin: 20px;
      .caption {
        background-color: whitesmoke;
        padding: 10px;
        display: flex;
        &__image {
          width: 200px;
          height: 200px;
          background-color: white;
        }
        &__intro {
          margin: 10px;
          &__name {
            font-weight: bold;
            font-size: 30px;
          }
        }
      }
      .Explanation {
        margin: 20px 0;
        &__text-title {
          background-color: azure;
          font-weight: bold;
          font-size: 25px;
        }
      }
    }
  }
}