.main {
  width: calc(100% - 201px);
  height: 100vh;
  float: left;
  .main-header {
    height: 80px;
    .personal {
      height: 30px;
      text-align: right;
      padding: 0 10px;
      background-color: #fafafa;
      &__box {
        display: inline-block;
        li {
          float: left;
          margin: 0 5px;
          font-size: 15px;
          line-height: 35px;
        }
      }
    }
    .naviframe {
      background-color: yellow;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      border: 1px solid;
      .search {
        &__filed {
          margin: 10px;
          padding: 0 10px;
        }
        &__btn {
          float: right;
          margin: 10px;
        }
      }
      .navimenu {
        margin: 10px;
        display: flex;
        &__home{
        }
        &__post {
          margin: 0 5px;
        }
      }
    }
  }
}