.main-contents {
  height: calc(100vh - 80px);
  &__title {
    margin: 10px;
    &__book {
      margin: 15px 0;
      height: 50px;
      background-color: cadetblue;
    }
    &__chara {
      background-color: cadetblue;
    }
  }
  .main-content {
    width: 100%;
    margin-top: 20px;
    .introduce {
      background-color: #fafafa;
      width: 400px;
      height: 100px;
      padding: 10px;
      margin: 20px auto;
      border: 1px solid;
      border-radius: 5px;
    }
    .book-title {
      margin: 0 40px;
      background-color: #F2F2F2;
      text-align: center;
      font-weight: bold;
      padding: 10px;
    }
    .book-image {
      margin-top: 20px;
      text-align: center;
      width: 100%;
      img {
        border: 1px solid;
      }
    }
  }
}