.left-contents {
  height: 100vh;
  width: 200px;
  float: left;
  border-right: 1px solid;
  .left-header {
    height: 80px;
    background-color: grey;
    padding: 0 10px;
  }
}
.menus {
  padding: 0 10px;
  background-color: #fffbed;
  height: calc(100vh - 80px);
  overflow: scroll;
  .menu {
    .books {
      .space {
        width: 200px;
      }
      .book {
        margin-top: 10px;
        &__icon {
          cursor: pointer; padding: 10px;
        }
        &__title {

        }
        &__character {
          display: none;
          margin-bottom: 5px;
        }
      }
    }
  }
}